<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <title>Detection Results</title>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://127.0.0.1:5000/">KITA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/detect">Detect</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="text-center">
        <h2 class="m-3">Detection Results</h2> {% for i in range(len(files)) %} <div
          class="d-flex justify-content-center align-items-center">
          <div class="card m-5" style="max-width: 800px;">
            <div class="row no-gutters">
              <div class="col-md-6">
                <img src="{{ url_for('static', filename='aft/' + files[i]) }}" class="card-img" alt="Processed Image">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">Result #{{ i+1 }}</h5>
                  <p class="card-text">File: {{ files[i] }}</p>
                  <p class="card-text">Detection: {{ resultlist[i] }}</p>
                  <p class="card-text">Status: {{ pf[i] }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endfor %} <nav aria-label="Page navigation" class="mb-5">
        <ul class="pagination justify-content-center"> {% for i in range(len(files)) %} <li class="page-item">
            <a class="page-link" href="javascript:void(0);" onclick="showResult({{ i }});">{{ i+1 }}</a>
          </li> {% endfor %} </ul>
      </nav>
    </div>
    </div>
    <footer class="footer" style="text-align: center; bottom: 0; position:fixed; width:100%;"> © 2024 KITA. All rights
      reserved. </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      function showResult(index) {
        $('.card').hide().eq(index).show();
      }
      $(document).ready(function () {
        $('.card').hide().first().show();
      });
    </script>
  </body>

</html>
