<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <title>Semi-conductor Detector</title>
  </head>

  <body>
    <!-- Navigation-->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://127.0.0.1:5000/">KITA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/detect">Detect</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="text-center">
      <h1 class="m-5"><b> Wafer defect detection system </b></h1>
    </div>
    <!-- 부트스트랩 카드 형식으로 이미지와 텍스트 대체 -->
    <div class="card" style="width: 32rem; margin:auto;">
      <img src="/static/img/backgroud.jpg" class="card-img-top" alt="반도체 검사 방법">
      <div class="card-body">
        <ul class="card-text ml-5" style="list-style-type: none; padding-left: 50;">
          <li>1. Select vision inspection file to detect</li>
          <li>2. Upload and detect</li>
          <li>3. Show detection results</li>
        </ul>
      </div>
    </div>
    <footer class="footer" style="text-align: center; bottom: 0; position:fixed; width:100%;"> © 2024 KITA. All rights
      reserved. </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>

</html>
